@font-face {
  font-family: "League spartan";
  src: url("../fonts/league-spartan/leaguespartan-bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.woff") format("woff");
}
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "oswald";
  src: url("../fonts/Oswald/oswald.woff") format("woff");
  src: url("../fonts/Oswald/oswald.woff2") format("woff2");
}
