body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  background-color: black;
}
.nuxt-links {
  font-size: 20px;
  color: black;
  text-decoration: underline;
}
.fade-enter-active {
  transition: all 0.5s ease;
}
.fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-enter,
.fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}
.articles__list {
  background-color: white;
}
.article {
  display: grid;
  margin-left: 8px;
  grid-template-columns: 28% 33% 36%;
  .article__name {
    font-size: 24px;
    text-transform: uppercase;
    align-self: center;
  }
  .article__content {
    align-self: flex-end;
  }
  .article__img {
    height: 200px;
    min-width: 80%;
    align-self: center;
    place-self: center;
  }
}
.deleteButton {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 1px solid #a12727;
  border-radius: 8px;
  background: #ff4a4a;
  background: linear-gradient(to bottom, #ff4a4a, #992727);
  text-shadow: #591717 1px 1px 1px;
  font: normal normal bold 22px arial;
  color: #ffffff;
  text-decoration: none;
  width: 150px;
  height: 100px;
  align-self: center;
  place-self: center;
}
.deleteButton:hover,
.deleteButton:focus {
  background: #ff5959;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
  background: linear-gradient(to bottom, #ff5959, #b62f2f);
  color: #ffffff;
  text-decoration: none;
}
.deleteButton:active {
  background: #982727;
  background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
  background: linear-gradient(to bottom, #982727, #982727);
}
.deleteButton:before {
  content: "\0000a0";
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 4px -6px -4px;
  position: relative;
  top: 0px;
  left: 4px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAACMklEQVRIibWVsW4TQRCGv1mdAqI4ge0gkYgXoEhFneo6aEOLdBJ5gSiVa6BAPAAUh5BoAj0NV6Sho0hJQREJZKzEueIqjKwdit3De+u7ICRnZJ/3Zv+Z2f/f2bUAhiu0JrntmbfrGMcMzDrH4gc2mmgxGmT5Q+ANkHpXDTyuyuIj/zAT/JqedwMcAGNVu61qt4ExcNiBW/nGDMwwy3cVXgignqLCPeCHQK0OlwJbwFfxgR57eFEWx6ESScTIKnwD3iq8BJ4o/CJIEpvCDeAVcOBjW9YwaNkgy1PgHLhblcVZR94Qexv4DmxWZVHH8w2D1iYni9/1ItkAuAlMh1n+CPiCkwVgAty/KIv3HsM1SeoolwFs1yGzZ8fvLDADRt43RmQHZA+RPRXZwW00HjP7+el151lqGHQVagqYZqfVPRDEieviRh5rOnKZTon8+wwYuLH4j8vadJfHNQUsUUfSJxGAiCwlUt8/imewdAUF4oVaWEoUU0NVK2ATMIg4ecRpJQgiAu4gDbUtUctCpw1WEG6ybZKiiqhfvaNgtS3RSp5eiUDO+SuR9yDuKa1DN8KdmSB2Oe6VCDToon6JPKZajXcWFmjtPl6iOw/2mc8XR8Ap6GdHSE+Bo1vZPrC4tIviuygsNAPS+XyRVGXxzPtOAtzJIMs3cBff/3cR7jpIgd1hlk/CiUD/LYeRSUc8cYEWNWt0aqw8BT4oXO8Kxt20z9XqlB6Jula+VrtMorXZlf7p/wHAL9L6d7AWWwAAAABJRU5ErkJggg==")
    no-repeat left center transparent;
  background-size: 100% 100%;
}
